@page
@model RazorPizzarie.Pages.Checkout.CheckoutModel
@{
}

<h1>Your Order!</h1>
@{
    var imagePath = "~/images/" + (@Model.ImageTitle + ".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto">
        <img src="@imagePath" class="w-100" asp-append-version="true"/>
        <p>Your order for the <span class="PizzaName fw-bold">@Model.PizzaName</span> pizza is ready!</p>
        <p>Total price for your order is: <span class="PizzaPrice">$@Model.PizzaPrice</span> </p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>
